/Adobe Photoshop 2023 v24.0.0.59 (x64) Multilingual
/Adobe Photoshop 2023.lnk
/Algoritmos
/Arduino IDE.lnk
/Atividade 2.docx
/CarrinhoRoute.js
/Cliente Riot.lnk
/Death Note.docx
/desktop.ini
/Dev-C++.lnk
/Discord.lnk
/estilo.css
/foda
/fp.png
/index.js
/ItemProductController.txt.js
/ItensRoute.js
/Link GitHub.txt
/Lista de Entidades.docx
/ProductContoller.js
/ProductRoute.js
/Projeto_Marketplace-db-Version.zip
/Quiz.pptx
/Renda.xlsx
/Tecnologias usadas em manutenção.txt
/trabalho PI.docx
/Visual Studio Code.lnk